/* Base Styles */

html {
    background-color: black;
}

body {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
}

/* Header */

header {
    color: white;
    margin-left: 20px;
    text-decoration: underline;
    display: flex;
    align-items: flex-start;
    height: auto;
    width: auto;
}

/* Main */

main {
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
    gap: 10px;
    border: 2px solid white;
    margin: 20px;
}

/* Colors */

.color {
    align-content: left;
    margin: 15px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, 100px);
    align-items: center;
    gap: 15px;
}

.color div {
    display: inline-grid;
    height: auto;
    grid-template-rows: 100px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: left;
    padding-left: 20px;
    text-shadow: 2px 2px 5px black;
}

.p1 {
    grid-row: 1;
    grid-column: 1;
    font-size: 48px;
}

.p2 {
    font-size: 36px;
    grid-row: 1;
    grid-column: 2;
}

#rajah {
    background-color: #F6BD60;
}

#linen {
    background-color: #F7EDE2
}

#baby-pink {
    background-color: #F5CAC3;
}

#morning-blue {
    background-color: #84A59D;
}

#light-coral {
    background-color: #F28482;
}